<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="form-wrapper">
        <main class="form-side">
            <a href="{% url 'home' %}" title="Logo"> <!-- Reemplaza 'home' con la URL de tu vista principal -->
                <img src="{% static 'assets/EventraLogoNoText.svg' %}" alt="eventra logo" class="logo" />
            </a>
            <form method="post" action="{% url 'login' %}" class="my-form"> <!-- Reemplaza 'login' con la URL de tu vista de login -->
                {% csrf_token %}
                <div class="form-welcome-row">
                    <h1>Bienvenido de vuelta! &#128079;</h1>
                    <h2>Inicia sesión con tu cuenta!</h2>
                </div>
                <div class="divider"></div>
                <div class="text-field">
                    <label for="username">Nombre de usuario</label>
                    <input type="text" id="username" name="username" autocomplete="off" placeholder="Tu nombre de usuario" required>
                </div>
                <div class="text-field">
                    <label for="password">Contraseña</label>
                    <input id="password" type="password" name="password" placeholder="Tu contraseña" required>
                    <div class="error-message">
                        {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <button class="my-form__button" type="submit">Iniciar Sesión</button>
                <div class="my-form__actions">
                    <div class="my-form__row">
                        <span>¿No tienes una cuenta?</span>
                        <a href="{% url 'registro' %}" title="Registrate"> Registrate </a> <!-- Reemplaza 'registro' con la URL de tu vista de registro -->
                    </div>
                </div>
            </form>
        </main>
        
        <aside class="info-side">
            <div class="blockquote-wrapper">
                <img src="https://img.freepik.com/vector-gratis/composicion-banca-oficina-isometrica_1284-37701.jpg?t=st=1731095455~exp=1731099055~hmac=9e329192d848cd7011f7903b160a01ed6f332d60e402159a5fc840b86a9d35b6&w=740" alt="img-room" class="returns" />
            </div>
        </aside>
    </div>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const mensajes = document.querySelectorAll('.error-message li');
        mensajes.forEach(function(mensaje) {
            setTimeout(() => {
                mensaje.style.display = 'none'; // Oculta el mensaje después de 5 segundos
            }, 5000);
        });
    });
</script>
</html>
