<!DOCTYPE html>
<html lang="es">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="{% static 'css/registro.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <style>
    :root {
      --imgLogin2: url("{% static 'assets/imgLogin2.jpg' %}");
    }
  </style>

  <body>
    <div class="form-wrapper">
      <main class="form-side">
        <a href="{% url 'home' %}" title="Logo">
          <img
            src="{% static 'assets/EventraLogoNoText.svg' %}"
            alt="eventra logo"
            class="logo"
          />
        </a>
        <form method="post" action="{% url 'registro' %}" class="my-form">
          {% csrf_token %}
          <div class="form-welcome-row">
            <h1>¡Únete a nosotros! 📝</h1>
            <h2>Crea tu cuenta para comenzar.</h2>
          </div>
          <div class="divider"></div>

          <div class="text-field">
            {{ form.usuario.label_tag }} {{ form.usuario }}
          </div>
          <div class="text-field">
            {{ form.correo.label_tag }} {{ form.correo }}
          </div>
          <div class="text-field">
            {{ form.contraseña.label_tag }} {{ form.contraseña }}
          </div>
          <div class="radio-field">
            <label>{{ form.tipo_usuario.label }}</label>
            {{ form.tipo_usuario }}
          </div>
          <button class="my-form__button" type="submit">Registrarme</button>
          <div class="my-form__actions">
            <div class="my-form__row">
              <span>¿Ya tienes una cuenta?</span>
              <a href="{% url 'login' %}" title="Iniciar Sesión">
                Iniciar Sesión
              </a>
            </div>
          </div>
        </form>
      </main>

      <aside class="info-side">
        <div class="blockquote-wrapper">
          <img
            src="{% static 'assets/imgLogin1.jpg' %}"
            alt="img-room"
            class="returns"
          />
        </div>
      </aside>
    </div>
  </body>
</html>
