{% extends "eventra/base.html" %} {% block contenido %}
<div class="dashboard-container">
  <!-- Sidebar -->
  <nav class="sidebar">
    <h5>Menú</h5>
    <ul class="nav">
      <li>
        <a href="{% url 'dashboard' %}" class="nav-link">Administrar Salas</a>
      </li>
      <li><a href="{% url 'administrar_reservas' %}" class="nav-link">Administrar Reservas</a></li>
    </ul>
  </nav>

  <!-- Contenido principal -->
  <main class="main-content">
    <h2>Panel de Administración</h2>

    <!-- Mensajes de éxito o error -->
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}

    <!-- Tabla de eventos -->
    <div class="events-section">
      <!-- Botón para agregar eventos -->
      <h3>Reservas de Clientes</h3>
      <div class="table-container">
        {% if reservas %}
        <table class="custom-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Evento</th>
              <th>Usuario</th>
              <th>Correo</th>
              <th>Fecha</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% for reserva in reservas %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ reserva.evento.nombre }}</td>
              <td>{{ reserva.usuario_reserva.usuario }}</td>
              <td>{{ reserva.usuario_reserva.correo }}</td>
              <td>{{ reserva.fecha }}</td>
              <td>
                <a href="#" class="btn btn-primary">Detalles</a>
                <a href="#" class="btn btn-danger">Eliminar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>No tienes reservas registradas.</p>
        {% endif %}
      </div>
    </div>
  </main>
</div>
{% endblock %}
