{% extends 'eventra/base.html' %}{% block contenido %} {% load static %}
<section class="home-section">
  <h1>Encuentra el lugar perfecto para tus reuniones</h1>
  <h4>
    Con espacios modernos y completamente equipados, asegura tu sala para una
    experiencia única y profesional
  </h4>

  <section class="carrusel">
    <div class="top-bar">
      <svg
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"
        />
        <path d="M16 3v4" />
        <path d="M8 3v4" />
        <path d="M4 11h16" />
        <path d="M7 14h.013" />
        <path d="M10.01 14h.005" />
        <path d="M13.01 14h.005" />
        <path d="M16.015 14h.005" />
        <path d="M13.015 17h.005" />
        <path d="M7.01 17h.005" />
        <path d="M10.01 17h.005" />
      </svg>
      <h2>Salas Recomendadas</h2>

      <button
        type="button"
        disabled
        id="action-button--previous"
        class="action-button--horizontal-scroll"
      >
        <svg
          width="16"
          height="16"
          fill="#e8eae4"
          focusable="false"
          viewBox="0 0 24 24"
        >
          <path
            d="M12.771 7.115a.829.829 0 0 0-1.2 0L3 15.686l1.2 1.2 7.971-7.971 7.972 7.971 1.2-1.2-8.572-8.571Z"
          ></path>
        </svg>
      </button>
      <button
        type="button"
        id="action-button--next"
        class="action-button--horizontal-scroll"
      >
        <svg
          width="16"
          height="16"
          fill="#e8eae4"
          focusable="false"
          viewBox="0 0 24 24"
        >
          <path
            d="M12.771 7.115a.829.829 0 0 0-1.2 0L3 15.686l1.2 1.2 7.971-7.971 7.972 7.971 1.2-1.2-8.572-8.571Z"
          ></path>
        </svg>
      </button>
    </div>
    <div id="events">
      {% for evento in eventos %}
        <a href="{% url 'detalle_evento' evento.id %}" class="event">
          <div class="event__image">
            <img
              src="{{ evento.imagen.url }}"
              alt="{{ evento.imagen }}"
            />
          </div>
          <div class="event-description">
            <h2>{{ evento.nombre }}</h2>
            <div class="bottom-stats">
              <div class="bottom-stat">{{ evento.direccion }}</div>
              <div class="bottom-stat">Ubicación: {{ evento.ubicacion }}</div>
            </div>
          </div>
        </a>
      {% endfor %} 
    </div>
  </section>

  <h2>Salas Disponibles</h2>

  <section class="tarjetas">
    {% for evento in eventos %}
    <article class="tarjeta">
      <a href="{% url 'detalle_evento' evento.id %}">
        <div class="tarjeta-vista-previa">
          <img
            src="{{ evento.imagen.url }}"
            alt="Vista previa de Lakeview Elegance"
          />
          <div class="tarjeta-precio">USD {{ evento.precio_renta }}</div>
        </div>
        <div class="tarjeta-contenido">
          <h2 class="tarjeta-titulo">{{ evento.nombre }}</h2>
          <p class="tarjeta-direccion"> {{ evento.direccion }}, {{ evento.ubicacion }}</p>
          <p class="tarjeta-descripcion">{{ evento.descripcion }}</p>
          <div class="tarjeta-inferior">
            <div class="tarjeta-capacidad"></div>
          </div>
        </div>
      </a>
    </article>
    {% endfor %} 
  </section>
</section>
{% endblock %}
