{% extends 'eventra/base.html' %} {% block contenido %} {% load static %}
<section class="responsive-two-column-grid">
  <div class="content">
    <h1>Plataforma de Reserva de Espacios</h1>
    <h5>
      Organiza tus reuniones y eventos como un despegue, en el espacio que
      necesitas
    </h5>
    <a href="{% url 'home' %}" class="button-glow"> Empezar </a>
  </div>
  <div class="contentLogo">
    <img
      src="{% static 'assets/EventraLogo.svg' %}"
      alt="Eventra Logo"
      width="350"
      height="350"
    />
  </div>
</section>
{% endblock %}
