<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'crud_app/css/styles.css' %}" />
    <title>Inicio</title>
</head>
<body>
    <header class="header">
        {% if user.is_authenticated %}
            <div class="busqueda">busqueda</div>
            <div class="bloques">Bloques</div>
            <div class="profile">
                <span>{{ user.username }}</span> <!-- Muestra el nombre del usuario -->
                <button class="hamburguesa" onclick="toggleMenu()">☰</button> <!-- Botón de hamburguesa -->
            </div>
        {% else %}
            <div class="busqueda">busqueda</div>
            <div class="bloques">Bloques</div>
            <div class="profile"><a href="{% url 'login' %}"> Iniciar Sesion </a></div>
        {% endif %}
    </header>

    {% block contenido %} 
    {% endblock %}

    <footer></footer>

    <script>
        function toggleMenu() {
            // Aquí puedes implementar la lógica para mostrar el menú de usuario
            alert("Menú de usuario"); // Esto es solo un ejemplo, cambia según lo que necesites
        }
    </script>
</body>
</html>
