{% extends 'crud_app/base.html' %}

{% block contenido %}
<section class="content">
    <div class="event-banner">
        <div class="content-img-banner">
            <img class="img-banner" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Banner_evento_editaton-01.jpg/1280px-Banner_evento_editaton-01.jpg" alt="error">
        </div>
    </div>
    <div class="events-content">
        <div class="tarjeta-evento">
            <picture class="content-img-evento">
                <img class="img-evento" src="https://cf2.bstatic.com/xdata/images/hotel/square600/239946673.webp?k=d4af6d47b2b73bc9e179d0433d12302101342eb891ffb7d0ac40b31d4142dcb7&o=" alt="">
            </picture>
            <strong>TITULO LUGAR</strong>
            <p>Ubicacion lugar</p>
            <p>Capacidad Personas</p>
            <button>Reservar</button>
        </div>
        <div class="tarjeta-evento">
            <picture class="content-img-evento">
                <img class="img-evento" src="https://cf2.bstatic.com/xdata/images/hotel/square600/239946673.webp?k=d4af6d47b2b73bc9e179d0433d12302101342eb891ffb7d0ac40b31d4142dcb7&o=" alt="">
            </picture>
            <strong>TITULO LUGAR</strong>
            <p>Ubicacion lugar</p>
            <p>Capacidad Personas</p>
            <button>Reservar</button>
        </div>
        <div class="tarjeta-evento">
            <picture class="content-img-evento">
                <img class="img-evento" src="https://cf2.bstatic.com/xdata/images/hotel/square600/239946673.webp?k=d4af6d47b2b73bc9e179d0433d12302101342eb891ffb7d0ac40b31d4142dcb7&o=" alt="">
            </picture>
            <strong>TITULO LUGAR</strong>
            <p>Ubicacion lugar</p>
            <p>Capacidad Personas</p>
            <button>Reservar</button>
        </div>
        <div class="tarjeta-evento">
            <picture class="content-img-evento">
                <img class="img-evento" src="https://cf2.bstatic.com/xdata/images/hotel/square600/239946673.webp?k=d4af6d47b2b73bc9e179d0433d12302101342eb891ffb7d0ac40b31d4142dcb7&o=" alt="">
            </picture>
            <strong>TITULO LUGAR</strong>
            <p>Ubicacion lugar</p>
            <p>Capacidad Personas</p>
            <button>Reservar</button>
        </div>
    </div>
</section>
{% endblock %}