:root {
  --primary: #3a7ca5;
  --primary-dark: #2f6690;
  --primary-darker: #265072;
  --text: #16425b;
  --background: #d9dcd6;
  --background-dark: #c3c6be;
  --secondary: #81c3d7;
  --secondary-dark: #6ba7c0;
  --tarjeta: #e8eae4;
  --gray-border: rgba(0, 0, 0, 10%);
  --border-radius: 2rem;
  --glow-size: 0.5rem;
  --navbar-height: 4rem;
  --gray: #6c757d;
  --dark: #3d464d;
  --input-bg: #c2c6c0;
}

/* General layout */
.dashboard-container {
  display: flex;
  height: 100vh;
  font-family: "Exo 2";
}

/* Sidebar */
.sidebar {
  display: flex;
  width: 20vw;
  background: var(--background);
  border-right: 2px solid var(--background-dark);
  padding: 20px;
  height: 100%;
  flex-direction: column;
}

.sidebar h5 {
  margin: 0 0 1rem 1.35rem;
  padding: 0;
  font-size: 1.1rem;
  color: var(--text);
}

.sidebar .nav {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.sidebar .nav-link {
  display: flex; /* Cambiamos a flex para centrar el contenido */
  align-items: center; /* Centra verticalmente el texto */
  text-decoration: none; /* Elimina subrayado */
  color: var(--text); /* Establece el color */
  margin-bottom: 10px; /* Separación entre enlaces */
  width: 100%; /* Asegura que ocupe todo el ancho del <li> */
  height: auto; /* Permite que ajuste según el contenido */
  padding: 10px; /* Espaciado interno */
  text-align: left; /* Alinea texto a la izquierda */
}

.sidebar .nav-link:hover {
  color: var(--primary-darker);
}

/* Main content */
.main-content {
  display: flex;
  padding: 20px;
  width: 100%;
  background-color: var(--background);
  flex-direction: column;
}

/* Title and welcome message */
.main-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.main-content p {
  text-align: center;
  margin-bottom: 30px;
}

/* Messages */
.messages .alert {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.alert-success {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.alert-danger {
  background-color: #dc3545;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.text-end {
  width: 80%; /* Asegura que ocupe todo el ancho disponible */
  text-align: right; /* Alinea el botón a la derecha */
  padding-bottom: 10px; /* Espaciado inferior para evitar que se desborde */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

/* Button */
.btn-success {
  background-color: var(--primary);
  color: var(--tarjeta);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  max-width: 150px; /* Limita el ancho del botón */
  width: auto; /* Permite que el botón ajuste su tamaño automáticamente */
  padding: 8px 15px; /* Reduce ligeramente el padding si es necesario */
  margin-right: 0;
}

.btn-success:hover {
  background-color: var(--primary-dark);
}

/* Events table */
.events-section {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events-section h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.table-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow-y: auto;
  max-height: 400px;
}

.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--background);
}

.custom-table th,
.custom-table td {
  text-align: center;
  vertical-align: middle;
  padding: 12px;
  border: 1px solid #dee2e6;
}

.custom-table th {
  background-color: var(--tarjeta);
  color: var(--text);
  font-weight: bold;
}

.custom-table td {
  background-color: var(--background-dark);
}

.custom-table tr:nth-child(odd) td {
  background-color: var(--background-dark);
}

/* Buttons inside the table */
.custom-table td .btn {
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.custom-table td .btn-primary {
  background-color: var(--secondary);
  color: var(--text);
  border-color: var(--secondary);
}

.custom-table td .btn-primary:hover {
  background-color: var(--secondary-dark);
  border-color: var(--secondary-dark);
}

.custom-table td .btn-danger {
  background-color: var(--primary);
  color: var(--tarjeta);
  border-color: var(--primary);
}

.custom-table td .btn-danger:hover {
  background-color: var(--primary-dark);
}


