:root {
  --primary: #3a7ca5;
  --primary-dark: #2f6690;
  --primary-darker: #265072;
  --text: #16425b;
  --background: #d9dcd6;
  --background-dark: #c3c6be;
  --secondary: #81c3d7;
  --tarjeta: #e8eae4;
  --gray-border: rgba(0, 0, 0, 10%);
  --border-radius: 2rem;
  --glow-size: 0.5rem;
  --navbar-height: 4rem;
  --gray: #6c757d;
  --dark: #3d464d;
  --input-bg: #c2c6c0;
}

body {
  font-family: "Exo 2";
  font-size: 16px;
  color: var(--text);
  background: var(--background);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* Ocupa el espacio restante del contenido */
html {
  height: 100%;
}
section {
  flex: 1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--primary);
}
.logo a {
  text-decoration: none;
  color: var(--primary);
}

.header {
  width: 100vw;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background: var(--background);
  border-bottom: 1px solid var(--gray-border);
}

/* Contenedores de las secciones izquierda y derecha */
.left-section,
.right-section {
  display: flex;
  align-items: center;
  gap: 1rem; /* Espacio entre los elementos dentro de cada sección */
}

/* Estilo del logo */
.logo {
  font-size: 1.5rem;
  color: var(--primary);
  font-weight: bold;
  cursor: pointer;
}

/* Contenedor del buscador */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.box {
  position: relative;
  width: 100%;
}

/* Estilo del input de búsqueda */
.search {
  width: 4rem;
  height: 2.5rem;
  border-radius: var(--border-radius);
  padding: 0.625rem;
  cursor: pointer;
  font-size: 1rem;
  color: transparent;
  border: 2px solid var(--primary);
  transition: width 300ms, background-position 300ms;
  overflow: hidden;
  background: var(--search-icon-url) no-repeat transparent;
  background-size: 1.5rem;
  background-position: 1rem center;
}

.search:focus,
.search:not(:placeholder-shown) {
  width: 100%;
  cursor: text;
  color: var(--primary);
  padding-left: 2.5rem;
  outline: none;
  transition: width 500ms, background-position 300ms;
  border: 2px solid var(--primary);
  background-color: transparent;
  background-position: 0.5rem center;
}

.search::placeholder {
  color: var(--primary);
  opacity: 0.5;
}

/* Estilo del dropdown de ubicación */
.location-dropdown {
  display: flex;
  align-items: center;
  background: var(--background);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  border: 2px solid var(--primary);
  cursor: pointer;
  gap: 0.5rem;
  color: #bbb;
  font-weight: 600;
}

/* Icono de perfil */
.profile-icon {
  font-size: 1.5rem;
  color: var(--gray-icon);
  cursor: pointer;
}

.btnSesion {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: var(--text);
  z-index: 1;
  background: var(--background);
  position: relative;
  font-size: 1.2rem;
  transition: all 250ms;
  overflow: hidden;
  border: 2px solid var(--primary);
}

.btnSesion::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 2rem;
  background-color: var(--primary);
  z-index: -1;
  transition: all 250ms;
}

.btnSesion:hover {
  color: #e8e8e8;
}

.btnSesion:hover::before {
  width: 100%;
}

/* Responsivo */
@media (max-width: 768px) {
  .search-container {
    width: 100%;
  }
}

h1,
h2 {
  color: var(--primary-dark);
}

footer {
  background: var(--background); /* Cambia según tu diseño */
  color: var(--text); /* Cambia según tu diseño */
  padding: 1rem;
  text-align: center;
  margin-top: auto;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content ul li {
  display: inline;
  margin: 0 1rem;
}

.footer-content a {
  text-decoration: none;
  color: inherit;
}

.footer-content a:hover {
  text-decoration: underline;
}

.navigation__group {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navigation__group > .icon {
  cursor: pointer;
  width: 2.25rem;
  height: 2.25rem;
  transition: all 0.2s ease-in-out;
}

.navigation__group > .icon:hover {
  transform: scale(1.1);
}

.profile {
  cursor: pointer;
  color: var(--primary);
}

.profile:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.dropdown__wrapper {
  width: 19rem;
  top: 5.25rem;
  right: 1rem;
  padding: 1rem;
  position: absolute;
  border-radius: 0.75rem;
  background: var(--background);
  border: 1px solid var(--primary);
  display: flex;
  flex-direction: column;
  color: var(--text);
  gap: 0.25rem;
  animation: fadeOutAnimation ease-in-out 0.3s forwards;
  z-index: 40;
}

.dropdown__wrapper h2 {
  font-size: 1.15rem;
}

.dropdown__wrapper--fade-in {
  animation: fadeInAnimation ease-in-out 0.3s forwards;
}

.none {
  display: none;
}

.hide {
  opacity: 0;
  visibility: hidden;
  animation: fadeOutAnimation ease-in-out 0.3s forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.dropdown__group {
  padding: 0.75rem;
}

.divider {
  width: 100%;
  padding: 0;
  margin: 1rem 0;
  border: 1px solid var(--primary);
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 0.25rem;
}

nav > ul > li {
  height: 3rem;
  color: var(--primary-dark);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
  align-items: center;
  gap: 1rem;
  padding-left: 0.5rem;
  width: 100%;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

nav > ul > li > a {
  color: var(--primary-dark);
}

nav > ul > li:hover a {
  color: var(--text);
}
nav > ul > li:hover {
  background: var(--background-dark);
  color: var(--text);
}

nav > ul > li > svg {
  stroke: var(--text-gray);
  height: 1.75rem;
  width: 1.75rem;
}

nav > ul > li:hover > svg {
  stroke: var(--text);
}



